<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>Home</title>
  </head>

  <body>
    <div class="content">
      <h1 style="text-align: center">IAuxilia Você</h1>
      <form action="/atualizar/{{usuario.id}}" method="POST">
        <input type="text" name="id" value="{{usuario.id}}" disabled />
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Nome"
          value="{{usuario.nome}}"
          required
        />
        <input
          type="text"
          name="cep"
          id="cep"
          placeholder="CEP"
          value="{{usuario.cep}}"
          required
        />
        <textarea
          name="prompt"
          id="prompt"
          placeholder="Prompt de entrada"
          rows="8"
          required
        >
{{usuario.prompt}}</textarea
        >
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
