<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="title">
    <h1>{{ text }}</h1>
    <form action="/resposta" method="POST">
      <input type="text" name="nome" id="nome" placeholder="Nome">
      <br /><br />
      <input type="text" name="relato" id="relato" placeholder="Relato">
      <br /><br />
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>