<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='saida.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Detalhes do Resgate</title>
  </head>

  <body>
    <div class="wrapper">
      <h1>Detalhes do Resgate</h1>
      <br />
      <div class="section">
        <div class="section-title">Nome:</div>
        <div class="section-content">{{ usuario.nome }}</div>
      </div>
      <div class="section">
        <div class="section-title">CEP:</div>
        <div class="section-content">{{ usuario.cep }}</div>
      </div>
      <div class="section">
        <br />
        <div class="section-content">{{ saida | safe }}</div>
      </div>
      <div class="botoes">
        <a href="/cadastro"
          ><button style="background-color: #4caf50">
            Cadastrar outro usuário
          </button></a
        >
        <a href="/resgates"
          ><button style="background-color: #2196f3">
            Todos os resgates
          </button></a
        >
        <a href="/perfil/{{usuario.id}}"
          ><button style="background-color: #9c27b0">
            Alterar informações
          </button></a
        >
      </div>
    </div>
  </body>
</html>
