<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Home</title>
</head>

<body>
  <div class="content">
    <form action="/prompt" method="POST">
      <input type="text" name="nome" id="nome" placeholder="Nome">
      <input type="text" name="cep" id="cep" placeholder="CEP">
      <textarea name="prompt" id="prompt" placeholder="Prompt de entrada" rows="20" cols="50"></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>

</html>
